div.markdown-dropzone {
  min-width: 600px;
  height: 400px;
  border: 1px dashed;
  padding: 5px;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  font-size: larger;
}

.dragging {
  border: 2px solid !important;
  font-weight: bolder;
}