.slides-now-drop div#MainTitle {
	text-align: center;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	padding-top: 1em;
}

.slides-now-drop div.markdown-dropzone, a#tryItNow {
	font-size: xx-large !important;
}

.slides-now-drop div#dropzone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 5px;
  border-radius: 5px;
}

.slides-now-drop div.markdown-dropzone {
  border-radius: 30px;
  width: 812px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -406px;
  margin-top: -290px;

  border: 1px dashed;
  padding: 0px 25px !important;
  background-color: white;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 14pt !important;
}

.slides-now-drop div.markdown-dropzone > h3 {
  color: #000 !important;
}

.slides-now-drop div.markdown-dropzone a {
  color: #333 !important;
  font-weight: bolder;
  padding-right: 10px;
}

.slides-now-drop div.markdown-dropzone aside {
  position: absolute;
  right: 20pt;
  bottom: 10pt;
}

.slides-now-drop div.markdown-dropzone footer {
  color: #666;
  position: absolute;
  left: 20px;
  bottom: 5px;
}

.slides-now-drop div.markdown-dropzone > pre {
  text-align: left;
  padding: 10pt 20pt;
}

.slides-now-drop .dragging {
  border: 2px solid !important;
  padding: 15pt 25pt;
}

.slides-now-drop footer {
  font-size: 0.75em;
  color: #555;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 1.5em;
  z-index: 10;
}

.slides-now-drop aside#counter {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.75em;
  color: #555;
}