/* code lightbox font should be smaller */
.code-box-lightbox-code pre {
  font-size: 20pt;
  padding: 10px 20px;
}

/* slides used during the actual slide presentation */
.slides-now * {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body.slides-now {
	overflow-x: hidden;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 26pt;
}

.slides-now img {
	max-width: 700px;
	max-height: 500px;
}

.slides-now .bespoke-slide > .top-right-wrapper {
	padding-left: 30pt;
	padding-bottom: 0.5em;
	max-height: 580px;
	width: 800px;
	overflow-y: auto;
	overflow-x: auto;
  position: relative;
}

.slides-now code {
	white-space: pre;
}

.slides-now span.centered {
	text-align: center;
}

.slides-now p {
	padding-left: 20pt;
	padding-bottom: 10pt;
}

.slides-now ol,
.slides-now ul {
	padding: 20pt 65pt;
}

.slides-now li {
	line-height: 1.5em;
}

.slides-now h1 {
	color: white;
	font-size: 50pt;
	padding: 10pt 20pt;
}

.slides-now h2 {
	color: white;
	-webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
	-ms-transition: opacity 2s ease;
	-o-transition: opacity 2s ease;
	transition: opacity 2s ease;

	font-size: 32pt;
	padding: 10pt 20pt;
}

.slides-now h3 {
	padding: 20pt 20pt;
}

.slides-now a {
	text-decoration: none;
	/*color: #eee !important;*/
	color: #eee;
}

.slides-now a:hover {
	text-decoration: underline;
}

.slides-now article.bespoke-parent {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.slides-now section.bespoke-slide {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: #c0c0c0;
	border-radius: 30px;
	width: 812px;
	height: 580px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -406px;
	margin-top: -290px;
	opacity: 0;

	display: table-cell;
	vertical-align: middle;
}

.slides-now body,
.slides-now section.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

.slides-now section.bespoke-active {
	opacity: 1;
	z-index: 10;
}

.slides-now footer {
  color: #666;
  position: absolute;
  left: 20px;
  bottom: 5px;
}
