/* Carousel Theme */
.carousel {
  background: rgba(121, 255, 0, 0.2);
}
.carousel section.bespoke-slide,
.carousel .arrow:hover {
  background: rgb(131, 199, 69);
}
.carousel a {
  color: #FFFFFF;
}
.carousel section.bespoke-before {
  -webkit-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -moz-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -ms-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -o-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  opacity: 0;
}
.carousel section.bespoke-before-2 {
  -webkit-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -moz-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -ms-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -o-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  opacity: 0.05;
}
.carousel section.bespoke-before-1 {
  -webkit-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -moz-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -ms-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -o-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  opacity: 0.2;
}
.carousel section.bespoke-after {
  -webkit-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -moz-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -ms-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -o-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  transform: translateX(980px) rotateY(72deg) translateX(1290px);
  opacity: 0;
}
.carousel section.bespoke-after-1 {
  -webkit-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -moz-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -ms-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -o-transform: translateX(470px) rotateY(30deg) translateX(490px);
  transform: translateX(470px) rotateY(30deg) translateX(490px);
  opacity: 0.2;
}
.carousel section.bespoke-after-2 {
  -webkit-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -moz-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -ms-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -o-transform: translateX(590px) rotateY(52deg) translateX(780px);
  transform: translateX(590px) rotateY(52deg) translateX(780px);
  opacity: 0.05;
}
