div.markdown-dropzone {
  border-radius: 30px;
  width: 512px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -256px;
  margin-top: -220px;

  border: 1px dashed;
  padding: 15px 25px !important;
  background-color: white;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 14pt !important;
}

div.markdown-dropzone > pre {
  text-align: left;
  padding: 10pt 20pt;
}

div.markdown-dropzone > a {
  color: black !important;
}

.dragging {
  border: 2px solid !important;
  font-weight: bolder;
}