/*! slides-now - 0.0.15 */

body.slides-now-drop * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.slides-now-drop div#MainTitle {
  font-size: xx-large;
	text-align: center;
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	padding-top: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.slides-now-drop div.markdown-dropzone, a#tryItNow {
	font-size: xx-large !important;
}

.slides-now-drop div#dropzone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 5px;
  border-radius: 5px;
}

.slides-now-drop div.markdown-dropzone {
  border-radius: 30px;
  width: 812px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -406px;
  margin-top: -290px;

  border: 1px dashed;
  padding: 0px 25px !important;
  background-color: white;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 14pt !important;
}

.slides-now-drop div.markdown-dropzone > h3 {
  color: #000 !important;
}

.slides-now-drop div.markdown-dropzone a {
  color: #333 !important;
  font-weight: bolder;
  padding-right: 10px;
}

.slides-now-drop div.markdown-dropzone aside {
  position: absolute;
  right: 20pt;
  bottom: 10pt;
}

.slides-now-drop div.markdown-dropzone footer {
  color: #666;
  position: absolute;
  left: 20px;
  bottom: 5px;
}

.slides-now-drop div.markdown-dropzone > pre {
  text-align: left;
  padding: 20pt 20pt;
  font-family: monospace;
}

.slides-now-drop .dragging {
  border: 2px solid !important;
  padding: 15pt 25pt;
}

.slides-now-drop footer {
  font-size: 0.75em;
  color: #555;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 1.5em;
  z-index: 10;
}

.slides-now-drop aside#counter {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.75em;
  color: #555;
}
.code-box-lightbox-code pre {
  font-size: 20pt;
  padding: 10px 20px;
}

/* slides used during the actual slide presentation */
.slides-now * {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body.slides-now {
	overflow-x: hidden;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 26pt !important;
}

.slides-now img {
	max-width: 700px;
	max-height: 500px;
}

.slides-now .bespoke-slide > .top-right-wrapper {
	padding-left: 30pt;
	padding-bottom: 0.5em;
	max-height: 580px;
	width: 800px;
	overflow-y: auto;
	overflow-x: auto;
  position: relative;
}

.slides-now code {
	white-space: pre;
}

.slides-now span.centered {
	text-align: center;
}

.slides-now p {
	padding-left: 20pt;
	padding-bottom: 10pt;
}

.slides-now ol,
.slides-now ul {
	padding: 20pt 65pt;
}

.slides-now li {
	line-height: 1.5em;
}

.slides-now h1 {
	color: white;
	font-size: 50pt;
	padding: 10pt 20pt;
}

.slides-now h2 {
	color: white;
	-webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
	-ms-transition: opacity 2s ease;
	-o-transition: opacity 2s ease;
	transition: opacity 2s ease;

	font-size: 32pt;
	padding: 10pt 20pt;
}

.slides-now h3 {
	padding: 20pt 20pt;
}

.slides-now a {
	text-decoration: none;
	/*color: #eee !important;*/
	color: #eee;
}

.slides-now a:hover {
	text-decoration: underline;
}

.slides-now article.bespoke-parent {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.slides-now section.bespoke-slide {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: #c0c0c0;
	border-radius: 30px;
	width: 812px;
	height: 580px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -406px;
	margin-top: -290px;
	opacity: 0;

	display: table-cell;
	vertical-align: middle;
}

.slides-now body,
.slides-now section.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}

.slides-now section.bespoke-active {
	opacity: 1;
	z-index: 10;
}

.slides-now footer {
  color: #666;
  position: absolute;
  left: 20px;
  bottom: 10px;
}

/*
	do not show code outside the current slide
	because it often overflows
*/
section.bespoke-inactive code {
  visibility: hidden;
}

@media all and (min-width: 1100px) {
	body.slides-now {
		font-size: 30pt !important;
	}

	.slides-now section.bespoke-slide {
		width: 912px;
		height: 680px;
		margin-left: -456px;
		margin-top: -340px;
	}
}

@media all and (max-width: 768px) {
	body.slides-now {
		font-size: 20pt !important;
	}

	.slides-now section.bespoke-slide {
		border-radius: 5px;
		width: 100%;
		height: 90%;
		top: 0;
		left: 0;
		margin-left: 0;
		margin-top: 0;
	}
}

.bw {
  background: rgba(255, 255, 255, 0.2);
}
.bw section.bespoke-slide {
  background: rgb(245, 245, 245);
  border: solid 1px black;
}
.bw a:hover {
  background: rgb(225, 225, 225);
}
.bw a {
  color: rgba(30, 30, 30, 1);
  text-decoration: underline;
}
.bw h1,
.bw h2,
.bw h3 {
  color: rgb(10, 10, 10);
}
.bw section.bespoke-before {
  -webkit-transform: translate3d(-1920px, 0, 0);
  -moz-transform: translate3d(-1920px, 0, 0);
  -ms-transform: translate3d(-1920px, 0, 0);
  -o-transform: translate3d(-1920px, 0, 0);
  transform: translate3d(-1920px, 0, 0);
}
.bw section.bespoke-before-2 {
  -webkit-transform: translate3d(-1280px, 0, 0);
  -moz-transform: translate3d(-1280px, 0, 0);
  -ms-transform: translate3d(-1280px, 0, 0);
  -o-transform: translate3d(-1280px, 0, 0);
  transform: translate3d(-1280px, 0, 0);
  opacity: 0.05;
}
.bw section.bespoke-before-1 {
  -webkit-transform: translate3d(-900px, 0, 0);
  -moz-transform: translate3d(-900px, 0, 0);
  -ms-transform: translate3d(-900px, 0, 0);
  -o-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
  opacity: 0.1;
}
.bw section.bespoke-after {
  -webkit-transform: translate3d(1920px, 0, 0);
  -moz-transform: translate3d(1920px, 0, 0);
  -ms-transform: translate3d(1920px, 0, 0);
  -o-transform: translate3d(1920px, 0, 0);
  transform: translate3d(1920px, 0, 0);
}
.bw section.bespoke-after-2 {
  -webkit-transform: translate3d(1280px, 0, 0);
  -moz-transform: translate3d(1280px, 0, 0);
  -ms-transform: translate3d(1280px, 0, 0);
  -o-transform: translate3d(1280px, 0, 0);
  transform: translate3d(1280px, 0, 0);
  opacity: 0.05;
}
.bw section.bespoke-after-1 {
  -webkit-transform: translate3d(900px, 0, 0);
  -moz-transform: translate3d(900px, 0, 0);
  -ms-transform: translate3d(900px, 0, 0);
  -o-transform: translate3d(900px, 0, 0);
  transform: translate3d(900px, 0, 0);
  opacity: 0.1;
}

.carousel {
  background: rgba(121, 255, 0, 0.2);
}
.carousel section.bespoke-slide,
.carousel .arrow:hover {
  background: rgb(131, 199, 69);
}
.carousel a {
  color: #FFFFFF;
}
.carousel section.bespoke-before {
  -webkit-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -moz-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -ms-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  -o-transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  transform: translateX(-980px) rotateY(-72deg) translateX(-1290px);
  opacity: 0;
}
.carousel section.bespoke-before-2 {
  -webkit-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -moz-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -ms-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  -o-transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  transform: translateX(-590px) rotateY(-52deg) translateX(-780px);
  opacity: 0.05;
}
.carousel section.bespoke-before-1 {
  -webkit-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -moz-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -ms-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  -o-transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  transform: translateX(-470px) rotateY(-30deg) translateX(-490px);
  opacity: 0.2;
}
.carousel section.bespoke-after {
  -webkit-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -moz-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -ms-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  -o-transform: translateX(980px) rotateY(72deg) translateX(1290px);
  transform: translateX(980px) rotateY(72deg) translateX(1290px);
  opacity: 0;
}
.carousel section.bespoke-after-1 {
  -webkit-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -moz-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -ms-transform: translateX(470px) rotateY(30deg) translateX(490px);
  -o-transform: translateX(470px) rotateY(30deg) translateX(490px);
  transform: translateX(470px) rotateY(30deg) translateX(490px);
  opacity: 0.2;
}
.carousel section.bespoke-after-2 {
  -webkit-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -moz-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -ms-transform: translateX(590px) rotateY(52deg) translateX(780px);
  -o-transform: translateX(590px) rotateY(52deg) translateX(780px);
  transform: translateX(590px) rotateY(52deg) translateX(780px);
  opacity: 0.05;
}

.classic {
  background: rgba(243, 111, 86, 0.2);
}
.classic section.bespoke-slide,
.classic .arrow:hover {
  background: rgb(243, 111, 86);
}
.classic a {
  color: rgb(255, 255, 255);
}
.classic section.bespoke-before {
  -webkit-transform: translate3d(-1920px, 0, 0);
  -moz-transform: translate3d(-1920px, 0, 0);
  -ms-transform: translate3d(-1920px, 0, 0);
  -o-transform: translate3d(-1920px, 0, 0);
  transform: translate3d(-1920px, 0, 0);
}
.classic section.bespoke-before-2 {
  -webkit-transform: translate3d(-1280px, 0, 0);
  -moz-transform: translate3d(-1280px, 0, 0);
  -ms-transform: translate3d(-1280px, 0, 0);
  -o-transform: translate3d(-1280px, 0, 0);
  transform: translate3d(-1280px, 0, 0);
  opacity: 0.05;
}
.classic section.bespoke-before-1 {
  -webkit-transform: translate3d(-900px, 0, 0);
  -moz-transform: translate3d(-900px, 0, 0);
  -ms-transform: translate3d(-900px, 0, 0);
  -o-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
  opacity: 0.1;
}
.classic section.bespoke-after {
  -webkit-transform: translate3d(1920px, 0, 0);
  -moz-transform: translate3d(1920px, 0, 0);
  -ms-transform: translate3d(1920px, 0, 0);
  -o-transform: translate3d(1920px, 0, 0);
  transform: translate3d(1920px, 0, 0);
}
.classic section.bespoke-after-2 {
  -webkit-transform: translate3d(1280px, 0, 0);
  -moz-transform: translate3d(1280px, 0, 0);
  -ms-transform: translate3d(1280px, 0, 0);
  -o-transform: translate3d(1280px, 0, 0);
  transform: translate3d(1280px, 0, 0);
  opacity: 0.05;
}
.classic section.bespoke-after-1 {
  -webkit-transform: translate3d(900px, 0, 0);
  -moz-transform: translate3d(900px, 0, 0);
  -ms-transform: translate3d(900px, 0, 0);
  -o-transform: translate3d(900px, 0, 0);
  transform: translate3d(900px, 0, 0);
  opacity: 0.1;
}

.concave {
  background: rgba(235, 156, 184, 0.3);
}
.concave section.bespoke-slide,
.concave .arrow:hover {
  background: rgb(235, 156, 184);
}
.concave a {
  color: #1150C4;
}
.concave section.bespoke-before {
  -webkit-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
  -moz-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
  -ms-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
  -o-transform: translateX(-800px) rotateY(90deg) translateX(-800px);
  transform: translateX(-800px) rotateY(90deg) translateX(-800px);
}
.concave section.bespoke-before-1 {
  -webkit-transform: translateX(-470px) rotateY(58deg) translateX(-470px);
  -moz-transform: translateX(-470px) rotateY(58deg) translateX(-470px);
  -ms-transform: translateX(-470px) rotateY(58deg) translateX(-470px);
  -o-transform: translateX(-470px) rotateY(58deg) translateX(-470px);
  transform: translateX(-470px) rotateY(58deg) translateX(-470px);
  opacity: 0.2
}
.concave section.bespoke-after {
  -webkit-transform: translateX(800px) rotateY(-90deg) translateX(800px);
  -moz-transform: translateX(800px) rotateY(-90deg) translateX(800px);
  -ms-transform: translateX(800px) rotateY(-90deg) translateX(800px);
  -o-transform: translateX(800px) rotateY(-90deg) translateX(800px);
  transform: translateX(800px) rotateY(-90deg) translateX(800px);
}
.concave section.bespoke-after-1 {
  -webkit-transform: translateX(490px) rotateY(-58deg) translateX(460px);
  -moz-transform: translateX(490px) rotateY(-58deg) translateX(460px);
  -ms-transform: translateX(490px) rotateY(-58deg) translateX(460px);
  -o-transform: translateX(490px) rotateY(-58deg) translateX(460px);
  transform: translateX(490px) rotateY(-58deg) translateX(460px);
  opacity: 0.2
}

.coverflow {
  background: rgba(42, 206, 185, 0.2);
}
.coverflow section.bespoke-slide,
.coverflow .arrow:hover {
  background: rgb(42, 206, 185);
}
.coverflow a {
  color: #ffffff;
}
.coverflow section.bespoke-before {
  -webkit-transform: translateX(-270px) rotateY(45deg) scale(0.6);
  -moz-transform: translateX(-270px) rotateY(45deg) scale(0.6);
  -ms-transform: translateX(-270px) rotateY(45deg) scale(0.6);
  -o-transform: translateX(-270px) rotateY(45deg) scale(0.6);
  transform: translateX(-270px) rotateY(45deg) scale(0.6);
  z-index: 6;
}
.coverflow section.bespoke-before-3 {
  -webkit-transform: translateX(-230px) rotateY(45deg) scale(0.6);
  -moz-transform: translateX(-230px) rotateY(45deg) scale(0.6);
  -ms-transform: translateX(-230px) rotateY(45deg) scale(0.6);
  -o-transform: translateX(-230px) rotateY(45deg) scale(0.6);
  transform: translateX(-230px) rotateY(45deg) scale(0.6);
  opacity: 0.1;
  z-index: 7;
}
.coverflow section.bespoke-before-2 {
  -webkit-transform: translateX(-190px) rotateY(45deg) scale(0.6);
  -moz-transform: translateX(-190px) rotateY(45deg) scale(0.6);
  -ms-transform: translateX(-190px) rotateY(45deg) scale(0.6);
  -o-transform: translateX(-190px) rotateY(45deg) scale(0.6);
  transform: translateX(-190px) rotateY(45deg) scale(0.6);
  opacity: 0.2;
  z-index: 8;
}
.coverflow section.bespoke-before-1 {
  -webkit-transform: translateX(-150px) rotateY(45deg) scale(0.6);
  -moz-transform: translateX(-150px) rotateY(45deg) scale(0.6);
  -ms-transform: translateX(-150px) rotateY(45deg) scale(0.6);
  -o-transform: translateX(-150px) rotateY(45deg) scale(0.6);
  transform: translateX(-150px) rotateY(45deg) scale(0.6);
  opacity: 0.3;
  z-index: 9;
}
.coverflow section.bespoke-active {
  z-index: 10;
}
.coverflow section.bespoke-after {
  -webkit-transform: translateX(270px) rotateY(-45deg) scale(0.6);
  -moz-transform: translateX(270px) rotateY(-45deg) scale(0.6);
  -ms-transform: translateX(270px) rotateY(-45deg) scale(0.6);
  -o-transform: translateX(270px) rotateY(-45deg) scale(0.6);
  transform: translateX(270px) rotateY(-45deg) scale(0.6);
  z-index: 6;
}
.coverflow section.bespoke-after-1 {
  -webkit-transform: translateX(150px) rotateY(-45deg) scale(0.6);
  -moz-transform: translateX(150px) rotateY(-45deg) scale(0.6);
  -ms-transform: translateX(150px) rotateY(-45deg) scale(0.6);
  -o-transform: translateX(150px) rotateY(-45deg) scale(0.6);
  transform: translateX(150px) rotateY(-45deg) scale(0.6);
  opacity: 0.3;
  z-index: 9;
}
.coverflow section.bespoke-after-2 {
  -webkit-transform: translateX(190px) rotateY(-45deg) scale(0.6);
  -moz-transform: translateX(190px) rotateY(-45deg) scale(0.6);
  -ms-transform: translateX(190px) rotateY(-45deg) scale(0.6);
  -o-transform: translateX(190px) rotateY(-45deg) scale(0.6);
  transform: translateX(190px) rotateY(-45deg) scale(0.6);
  opacity: 0.2;
  z-index: 8;
}
.coverflow section.bespoke-after-3 {
  -webkit-transform: translateX(230px) rotateY(-45deg) scale(0.6);
  -moz-transform: translateX(230px) rotateY(-45deg) scale(0.6);
  -ms-transform: translateX(230px) rotateY(-45deg) scale(0.6);
  -o-transform: translateX(230px) rotateY(-45deg) scale(0.6);
  transform: translateX(230px) rotateY(-45deg) scale(0.6);
  opacity: 0.1;
  z-index: 7;
}

.cube {
  background: rgba(86, 174, 231, 0.3);
}
.cube section.bespoke-slide,
.cube .arrow:hover {
  background: rgb(86, 174, 231);
}
.cube a {
  color: #e8fa19;
}
.cube section.bespoke-before {
  -webkit-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
  -moz-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
  -ms-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
  -o-transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
  transform: translateX(-332px) rotateY(-70deg) translateX(-652px) rotateY(-110deg) translateX(-530px);
}
.cube section.bespoke-before-1 {
  -webkit-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
  -moz-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
  -ms-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
  -o-transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
  transform: translateX(-332px) rotateY(-70deg) translateX(-512px);
  opacity: 0.5;
}
.cube section.bespoke-after {
  -webkit-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
  -moz-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
  -ms-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
  -o-transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
  transform: translateX(332px) rotateY(70deg) translateX(652px) rotateY(110deg) translateX(530px);
}
.cube section.bespoke-after-1 {
  -webkit-transform: translateX(332px) rotateY(70deg) translateX(512px);
  -moz-transform: translateX(332px) rotateY(70deg) translateX(512px);
  -ms-transform: translateX(332px) rotateY(70deg) translateX(512px);
  -o-transform: translateX(332px) rotateY(70deg) translateX(512px);
  transform: translateX(332px) rotateY(70deg) translateX(512px);
  opacity: 0.5;
}

.full {
  background: rgba(255, 255, 255, 0.2);
}
.full section.bespoke-slide {
  background: rgb(255, 255, 255);
  border: none;
}
.full a:hover {
  background: rgb(225, 225, 225);
}
.full a {
  color: rgba(30, 30, 30, 1);
  text-decoration: underline;
}
.full h1,
.full h2,
.full h3 {
  color: rgb(250, 10, 10);
}
.full section.bespoke-before {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.full section.bespoke-after {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.full section.bespoke-inactive code {
  visibility: visible;
}
/* other UI elements */
.full .code-box-expand-icon {
  opacity: 0.2 !important;
}
.full .code-box-expand-icon:hover {
  opacity: 0.5 !important;
}
