@media all and (max-width: 500px) {
  body.slides-now {
    font-size: 16pt !important;
  }

  .slides-now p {
    padding-left: 5pt;
    padding-bottom: 5pt;
  }

  .slides-now ol {
    padding: 5pt 20pt;
  }

  .slides-now ul {
    padding: 5pt 15pt;
  }

  .slides-now li {
    line-height: 1.2em;
  }

  .slides-now h1 {
    font-size: 22pt;
    padding: 5pt 5pt;
  }

  .slides-now h2 {
    font-size: 18pt;
    padding: 5pt 5pt;
  }

  .slides-now h3 {
    padding: 3pt 3pt;
  }
}
