@media all and (min-width: 1100px) {
  body.slides-now {
    font-size: 30pt !important;
  }

  .slides-now section.bespoke-slide {
    width: 912px;
    height: 680px;
    margin-left: -456px;
    margin-top: -340px;
  }
}
